:root {
  --panel-width: 400px;
  --label-width: 100px;
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 10px;
  line-height: 10px;
}

#title {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 14px;
  color: #d0d0d0;
}

#clip {
  position: absolute;
  left: -100px;
  top: -100px;
  width: 10px;
  height: 10px;
}

#stylesheet {
  position: absolute;
  width: var(--panel-width);
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  display: none;
  padding: 20px;
  font-family: "Courier New", Courier, monospace !important;
  font-size: 12px;
  line-height: 14px;
  color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  overflow: hidden;
}

#stylesheet .content {
  margin: 30px 0 0 0;
  overflow: auto;
  height: calc(100% - 30px);
}

#stylesheet .content:focus {
  outline: 0px solid transparent;
}

.buttons {
  font-size: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  flex-direction: row;
}

.info .content {
  position: absolute;
  top: 20px;
  right: 0; 
  width: calc(var(--panel-width) - 40px);
  font-size: 12px;
  line-height: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  display: none;
  color: #e0e0e0;
  border-radius: 8px; 
}

.info .content > * {
  margin-top: 0;
  margin-bottom: 5px;
}

.info .content > *:last-child {
  margin-bottom: 0;
}

.info .content > h2 {
  margin-bottom: 20px;
}

.info .content > div {
  margin-left: 10px;
}

.info:hover .content {
  display: block;
}


#stylesheet .buttons > div {
  margin-left: 7px;
}

#wrapper {
  margin: 0;
  position: absolute;
  top: 0;
  right: var(--panel-width);
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#resizer {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(var(--panel-width) + 10px);
  width: calc(var(--panel-width) + 10px);
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  resize: both;
  box-sizing: border-box;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f0f0f0;
  box-sizing: border-box;
  overflow: auto;
}

.item {
  width: auto;
  height: auto;
  min-width: 0px;
  min-height: 0px;
  max-width: none;
  max-height: none;
  margin: 0;
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  box-sizing: border-box;
  background-color: #c0c0c0;
  padding: 7px;
  text-align: left;
}

#props {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  pointer-events: none;
  flex-direction: column;
  justify-content: flex-end;
}

.prop {
  margin-right: 4px;
  color: #888888;
}

.val {
  font-weight: bold;
}

.selected {
  background-color: #90c0d0;
}

#controls {
  position: absolute;
  width: var(--panel-width);
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 8px;
  overflow: auto;
}

.label {
  width: var(--label-width);
  margin-right: 5px;
  display: inline-block;
  text-align: right;
}

.heading {
  width: var(--label-width);

  margin: 8px 0;

  text-align: right;
  font-weight: bold;
}

.control {
  margin-bottom: 4px;
}

.control select {
  margin-right: 4px;
}

button {
  margin-right: 4px;
}

select,
option,
button {
  font-size: 10px;
  font-family: sans-serif;
}
